.first {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 90vh;
    background-image: url(./Image/gym-526995_1920.jpg);
}

.nav-item:hover {
    border: 1px solid black;
    border-radius: 4px;

}