* {
    margin: 0;
}

.background {
    background-image: url("/Image/man-1282232_1920.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
    background-position: center;
}